@charset "UTF-8";

.bg-image-full {
  background-position: center;
  background-size: cover;
}

.text-white {
  color: rgba(255, 255, 255);
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.btn-primary {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.col-lg-6 .custom-text {
  color: red; 
}

a {
  color: white;
  text-decoration: none; 
}


a:hover {
  color: #0056b3; 
}

p.cv{
  font-family: "Monaco", monospace;
}


.contact p{
  font-family: "Monaco", monospace;
  color: beige;
}

.contact1 p{
  font-family: "Monaco", monospace;
  color: rgb(75, 75, 69);
}

h3.ct{
  font-family: "Monaco", monospace;
  color: beige;
}

h3.ct1{
  font-family: "Monaco", monospace;
  color: rgb(75, 75, 69);
}


h2.cv{
  font-style: italic;
}

h3.cv{
  font-family: "Monaco", monospace;
}


